body {   /*caracteristicas para el cuerpo del documento web*/
    font-family: Arial, sans-serif;   /*tipo de letra*/
    margin: 0; /*margen*/
    padding: 0;
}

.container {
    width: 80%; /*ancho del 80% de la página*/
    margin: 0 auto; /*margen automático*/
    padding: 20px 0;
}

header {
    background-color: #333; /*color de fondo*/
    color: #fff; /*color de fuente*/
    text-align: center; /*alineacion del texto*/
    padding: 100px 0;
}

header h1 {
    font-size: 2.5em; /*tamaño de la letra*/
}

.btn { /*caracteristicas para el boton "ver caracteristicas"*/
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px; /*redondear bordes*/
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

section {
    padding: 50px 0;
}

h2 {
    text-align: center;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature h3 {
    font-size: 1.5em;
}

.testimonial {  /*caracteristicas para los testimonios*/
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.testimonial p { /*caracteristicas para el parrafo de testimonios*/
    font-style: italic;
}

.testimonial cite { 
    font-weight: bold;
}

form {  /*caracteristicas para el formulario*/
    max-width: 600px; /* ancho máximo*/
    margin: 0 auto;
}

input[type="text"], /*tipo de dato que se insertara*/
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] { /*caracteristicas para el boton de enviar*/
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {  /*caracteristicas para el pie de página*/
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
